.calculator {
    width: 200px;
    margin: 50px auto;
    text-align: center;
    background-color: #1C1C1C; 
    color: #D4D4D2; 
    border-radius: 3%;
}

#display {
    width: 93%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    background-color: #D4D4D2; 
    color: #1C1C1C; 
    border: none; 
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: calc(25% - 10px); 
    height: 40px;
    margin: 5px;
    font-size: 18px;
    border-radius: 50%;
    border: none; 
    outline: none;
}

.operator {
    background-color: #FF9500; 
}

.number {
    background-color: #D4D4D2; 
}
